// COLORS
$color-primary: #45B29A;
$color-primary-light: #C5DED8;
$color-primary-dark: #37695F;

$color-secondary-light: #05C2C8;
$color-secondary-dark: #02A1A7;

// $color-tertiary-light: #BB3D3D;
$color-tertiary-dark: #BB3D3D;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-vertical-small: 6rem;
$gap-horizontal: 6rem;